/* 30-11-23 Responsive layout grid version */

/* Not a mobile */
@media (any-hover: hover) {
  #calc {
    max-width: 12cm;
  } 

button:hover {
  background: #1869EC;
  }
}

body
{
  font-family: sans-serif;
  background:#EAEAEA;
}

#calc {
  max-width: 12cm ;
  display: grid;
  grid-template-areas:
    "w"    
    "x"
    "y"
    "z";
  background: white;
  margin: 3% auto 0;
  touch-action: manipulation;
}

#descriptionDisplay { grid-area: w; }
#display { grid-area: x; }

#display, #descriptionDisplay {
  text-align: right;
  cursor: none;
  color: #1869EC;
  padding: 0 0 20px;
  border: 0;
}

#display {
  height: 42pt;
  line-height: 42pt;
  font-size: 42pt;
  overflow: hidden;
}

#descriptionDisplay {
  height: 11pt;
  line-height:11pt;
  font-size:11pt;
}

#buttons {
   display: { grid-area: y; } 
  }

#grid {
  display: grid;
  grid-template-areas:
    "c d e n r"
    "f g h o s"
    "i j k p t"
    "l l m q t";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr) ; 
  aspect-ratio: 1 / 0.8 ;
}

#bc7 { grid-area: c; }
#bc8 { grid-area: d; }
#bc9 { grid-area: e; }
#bc4 { grid-area: f; }
#bc5 { grid-area: g; }
#bc6 { grid-area: h; }
#bc1 { grid-area: i; }
#bc2 { grid-area: j; }
#bc3 { grid-area: k; }
#bc0 { grid-area: l; }
#bcPoint { grid-area: m; }
#bcDivide { grid-area: n; }
#bcMultiply { grid-area: o; }
#bcMinus { grid-area: p; }
#bcPlus { grid-area: q; }
#bcClearButton { grid-area: r; }
#bcAllClearButton { grid-area: s; }
#bcEqualButton { grid-area: t; }
#appInfo { grid-area: z; }

.buttonContainer{
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;  
  margin: 2px ;  
}

button {
  padding: 20% 38%;
  color: white;
  border: 1px solid #A0C4FF;
  padding: 200% ; /* bigger than container - overflow hidden  */
}

.numButton {
  font-size: 20pt;  
  background: #518EF0; 
} 

.opsButton {
  font-size: 30pt;  
  background: #A0C4FF;  
}

.equalsButton {
  font-size: 30pt;  
  background: #518EF0;
}

button:active {
  background: #71a3f4;
}

.appInfo {
  color: gray;
  font-size:12px;
  text-align: left;
}
